html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 425px) {
    .container {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.page-header-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-header-bg {
    position: relative;
    width: 180px;
    height: 54px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (min-width: 374px) {
            width: 230px;
        }
    
    @media screen and (min-width: 425px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 600px;
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }

}

.page-header-logo {
    position: absolute;
    top: 25%;
    left: -100px;
    width: 117px;
    height: 29px;
}

.page-header-second-logo {
    display: none;

    @media screen and (min-width: 1024px) {
            display: block;
            position: absolute;
            top: 25%;
            left: -120px;
            width: 150px;
            height: 45px;
        }
    

    @media screen and (min-width: 1440px) {
        width: 200px;
        left: -200px;
        }
}

.header-svg {
        width: 54px;
        height: 54px;
        position: absolute;
        fill: #0B5FC0;
        top: 0;
        left: -125px;    
        width: auto;
        height: 54px;
}

.header-second-svg {
    display: none;
    position: absolute;
    top: 0;
    left: -100px;
    height: 106px;

    @media screen and (min-width: 1024px) {
            display: block;
        }
}

.page-header-btn {
    position: absolute;
    display: inline-flex;
    padding: 0;
    margin-right: 15px;
    background-color: #d12a2a;
    border: none;

    @media screen and (min-width: 1024px) {
            display: none;
        }
}

.page-header-btn .header-close-menu {
    display: none;
}

.page-header-btn.is-open .header-close-menu {
    display: block;
}

.page-header-btn.is-open .header-menu {
    display: none;
}

.page-header-btn svg {
    pointer-events: none;
}

.menu-container {
    @media screen and (min-width: 1024px) {
        position: relative;
        background-image: url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        height: 106px;
        width: 600px;
        }

    @media screen and (min-width: 1440px) {
            padding-right: 50px;
            width: 1150px;
    }
    
    @media screen and (max-width: 1023px) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 999;
            background-color: #FFFFFF;
            padding-top: 30px;
            padding-left: 30px;
        }
    
}

.menu-container.is-open {
        display: block;
}

.menu-list {
    @media screen and (max-width: 1023px) {
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #787878;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #ffffff;
            }

    @media screen and (min-width: 1440px) {
        font-size: 18px;
    }

}

.menu-list-item {
    @media screen and (max-width: 1023px) {
            margin-bottom: 37px;
        }

    @media screen and (min-width: 1024px) {
            margin-left: 20px;
        }
    @media screen and (min-width: 1440px) {
            margin-left: 50px;
        }

}

.hero-box {
    width: auto;
    height: 600px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to top right,
        rgba(255, 91, 62, 1),
        rgba(13, 122, 248, 1));
}

.hero-photo-box {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero-photo {
    width: 312px;
    height: 224px;
}

.hero-text-box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero-title-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-title-text_span {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-medal {
    position: absolute;
    width: 69px;
    height: 82px;
    top: 267px;
    right: 15px;
}

.hero-photo-text {
    position: absolute;
    padding-left: 10px;
    top: 150px;
}

.hero-eurofast-photo-box {
    display: flex;
    justify-content: center;
}

.hero-eurofast-photo {
    width: 216px;
    height: 175px;
}

.hero-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-left: 16px;
}

.hero-text-index {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
}

.hero-btn-box {
    padding-left: 16px;
    padding-top: 10px;
}

.manual-btn {
    width: 118px;
    height: 44px;
    background-color: #f5f5f5;
    border-radius: 14px;
    border: none;
}

.manual-btn-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.where-btn {
    width: 118px;
    height: 44px;
    margin-left: 15px;
    background-color: #d12a2a;
    border-radius: 10px;
    border: none;
}

.where-btn-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-footnote-box {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
}

.hero-footnote-first {
    font-family: Lato;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.hero-footnote-second {
    font-family: Lato;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.compound-box{
    position: relative;
    height: 720px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* @media screen and (min-width: 375px) {
            height: 789.578px;
        }
    
        @media screen and (min-width: 425px) {
            height: 906.047px;
        } */
}

.compound-red {
    position: absolute;
    top: 0;
    right: 0;
    height: 320px;
    z-index: -1;
}

.compound-blue {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 320px;
    z-index: -1;
}

.compound-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
    z-index: 1;

    /* @media screen and (min-width: 425px) {
            top: 155px;
        } */
}

.compound-drugs {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    z-index: 1;

    /* @media screen and (max-width: 374px) {
            font-size: 19px;
        }
    
    @media screen and (min-width: 425px) {
        top: 190px;
    } */
}

.compound-ibu {
    color: #ea4d33;
}

.compound-plus {
    color: #000000;
}

.compound-par {
    color: #3e67cc;
}

.compound-dose {
    width: 284px;
}

.compound-ibu-dose {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ea4d33;
    padding-left: 40px;
    z-index: 1;

    /* @media screen and (min-width: 374px) {
            padding-left: 20px;
        } */
}

.compound-par-dose {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #3e67cc;
    margin-left: 60px;
    z-index: 1;

    /* @media screen and (min-width: 375px) {
            margin-left: 100px;
        } */
}

.compound-eurofast-photo {
    width: 240px;
    height: 223px;

    /* @media screen and (min-width: 320px) {
            top: 390px;
        }

    @media screen and (min-width: 375px) {
            top: 430px;
        }

    @media screen and (min-width: 425px) {
        top: 490px;
    } */
}

.compound-text {
    width: 328px;
    height: 166px;

    /* @media screen and (min-width: 320px) {
        width: 240px;
    }

    @media screen and (min-width: 375px) {
        width: 300px;
        top: 630px;
    }

    @media screen and (min-width: 425px) {
        width: 350px;
        top: 710px;
    } */
}

.compount-footnote {
    top: 675px;
    left: 16px;
    font-family: Lato;
    font-weight: 400;
    font-size: 7px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    /* @media screen and (min-width: 375px) {
            font-size: 8px;
            top: 730px;
        }
    
        @media screen and (min-width: 425px) {
            font-size: 8px;
            top: 840px;
        } */
}

.effekt-box {
    width: auto;
    height: auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(to bottom,
        rgba(1, 95, 189, 1),
        rgba(1, 95, 189, 0.88),
        rgba(1, 95, 189, 0));
}

.effect-title {
    padding-top: 60px;
    padding-left: 16px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-text {
    padding-top: 30px;
    padding-left: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-tablet-first {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.effect-tablet-photo {
    width: 50px;
    height: 37.5px;
}

.effect-tablet-text {
    width: 154px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 375px) {
        width: 180px;
        font-size: 14px;
    }

    @media screen and (min-width: 425px) {
        width: 180px;
        font-size: 16px;
    }
}

.effect-tablet-percent {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 375px) {
        font-size: 28px;
    }

    @media screen and (min-width: 425px) {
        margin-left: 35px;
        font-size: 33px;
    }
}

.effect-tablet-second {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.effect-btn {
    margin-left: 16px;
    width: 135px;
    height: 44px;
    background-color: #d12a2a;
    border-radius: 14px;
    border: none;
}

.effect-btn-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-footnote {
    padding-top: 30px;
    padding-left: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-photo {
    width: auto;
    height: auto;
    padding-top: 30px;
}

.effect-second-box {
    width: 100%;
    height: 731px;
    background-image: url(../images/effect_second_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.effect-second-title {
    padding-left: 16px;
    padding-top: 60px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.effect-second-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.effect-second-first-text-box {
    display: flex;
    align-items: center;
    width: 252px;
    height: 80px;
    background-color: #1e56ac;
    opacity: 0.8;
    border-radius: 28px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 20px;

    @media screen and (min-width: 375px) {
        width: 300px;
    }
    
    @media screen and (min-width: 425px) {
        width: 360px;
    }
}

.effect-second-first-text{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 130px;
}

.effect-second-first-number {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: auto;

    @media screen and (min-width: 375px) {
            font-size: 28px;
        }
}

.effect-second-second-text-box {
    display: flex;
    align-items: center;
    width: 252px;
    height: 80px;
    background-color: #1e56ac;
    opacity: 0.8;
    border-radius: 28px;
    padding-left: 10px;
    padding-right: 5px;

    @media screen and (min-width: 375px) {
        width: 300px;
    }
    
    @media screen and (min-width: 425px) {
        width: 360px;
    }
}

.effect-second-second-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 100px;
}

.effect-second-second-number {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: auto;

    @media screen and (min-width: 375px) {
            font-size: 28px;
        }
}

.effect-second-photo-box {
    position: relative;
    margin-bottom: 50px;
}

.effect-second-photo {
    width: 280px;
    height: 232px;
}

.effect-second-btn {
    position: absolute;
    bottom: 25px;
    right: 16px;
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 14px;
    background-color: #d12a2a;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-second-footnote {
    font-family: Lato;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 16px;
}

.section-readings-box {
    height: 952px;
}

.readings-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.readings-box {
    background-image: url(../images/effect_second_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
}

.readings-tumb {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.readings-icon {
    width: 90px;
    height: 90px;
    margin-right: 14px;
}

.readings-icon-title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-metod-box {
    height: 770px;
    background-image: url(../images/effect_second_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.metod-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.metod-box {
    margin-left: 16px;
    margin-right: 16px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    margin-bottom: 30px;
}

.metod-photo-tumb {
    display: flex;
    align-items: center;
}

.metod-icon {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

.metod-note {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.metod-photo {
    width: 284px;
    height: 284px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 375px) {
            width: 320px;
        }
}

.section-buy-box {
    height: 550px;
    background-image: url(../images/buy_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.buy-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.buy-photo {
    width: 196px;
    height: 193px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    @media screen and (min-width: 375px) {
            margin-bottom: 25px;
        }
}

.buy-box {
    display: flex;
    justify-content: space-between;
}

.buy-one-twoo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
}

.buy-one-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
        @media screen and (min-width: 425px) {
            width: 155px;
        }
}

.buy-twoo-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
        @media screen and (min-width: 425px) {
            width: 155px;
        }
}

.buy-three-four-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.buy-three-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
        @media screen and (min-width: 425px) {
            width: 155px;
        }
}

.buy-four-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
        @media screen and (min-width: 425px) {
            width: 155px;
        }
}

.section-contacts {
    height: 284px;
    background-color: #005dba;
    padding-top: 60px;
    padding-left: 16px;
}

.contacts-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 35px;
}

.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contacts-phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-phone-number {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;

    @media screen and (min-width: 375px) {
            font-size: 20px;
        }
}

.contacts-mail-box {
    display: flex;
    align-items: center;
}

.contacts-mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-mail {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 375px) {
            font-size: 20px;
        }
}

.section-warning {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.warning-lifecare-logo {
    width: 189px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.warning-note {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    margin-bottom: 30px;
}

.warning-text {
    font-family: Inter;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    text-align: center;

    @media screen and (min-width: 375px) {
            font-size: 38px;
        }
}

.footer-box {
    background-color: #005dba;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
}