html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 425px) {
    .container {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.page-header-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-header-bg {
    position: relative;
    width: 180px;
    height: 54px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (min-width: 374px) {
            width: 230px;
        }
    
    @media screen and (min-width: 425px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 600px;
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }

}

.page-header-logo {
    position: absolute;
    top: 25%;
    left: -100px;
    width: 117px;
    height: 29px;
}

.page-header-second-logo {
    display: none;

    @media screen and (min-width: 1024px) {
            display: block;
            position: absolute;
            top: 25%;
            left: -120px;
            width: 150px;
            height: 45px;
        }
    

    @media screen and (min-width: 1440px) {
        width: 200px;
        left: -200px;
        }
}

.header-svg {
        width: 54px;
        height: 54px;
        position: absolute;
        fill: #0B5FC0;
        top: 0;
        left: -125px;    
        width: auto;
        height: 54px;
}

.header-second-svg {
    display: none;
    position: absolute;
    top: 0;
    left: -100px;
    height: 106px;

    @media screen and (min-width: 1024px) {
            display: block;
        }
}

.page-header-btn {
    position: absolute;
    display: inline-flex;
    padding: 0;
    margin-right: 15px;
    background-color: #d12a2a;
    border: none;

    @media screen and (min-width: 1024px) {
            display: none;
        }
}

.page-header-btn .header-close-menu {
    display: none;
}

.page-header-btn.is-open .header-close-menu {
    display: block;
}

.page-header-btn.is-open .header-menu {
    display: none;
}

.page-header-btn svg {
    pointer-events: none;
}

.menu-container {
    @media screen and (min-width: 1024px) {
        position: relative;
        background-image: url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        height: 106px;
        width: 600px;
        }

    @media screen and (min-width: 1440px) {
            padding-right: 50px;
            width: 1150px;
    }
    
    @media screen and (max-width: 1023px) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 999;
            background-color: #FFFFFF;
            padding-top: 30px;
            padding-left: 30px;
        }
    
}

.menu-container.is-open {
        display: block;
}

.menu-list {
    @media screen and (min-width: 1024px) {
        display: flex;
            }
}

.menu-list-item {
    @media screen and (max-width: 1023px) {
        margin-bottom: 37px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 20px;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 50px;
    }
}

.menu-list-link {
    @media screen and (max-width: 1023px) {
            font-family: Inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.18;
            letter-spacing: 0.02em;
            color: #787878;
        }

    @media screen and (min-width: 1024px) {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 13px;
            line-height: 1.18;
            letter-spacing: 0.02em;
            color: #ffffff;
            
        }
    @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
}

.hero-box {
    width: auto;
    padding-bottom: 30px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to top right,
        rgba(255, 91, 62, 1),
        rgba(13, 122, 248, 1));
    
    @media screen and (min-width: 1440px) {
            display: flex;
            flex-direction: row-reverse;
        }
}

.hero-photo-box {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero-photo {
    width: 312px;
    height: 224px;

    @media screen and (min-width: 1440px) {
            position: relative;
            width: 892px;
            height: 696px;
        }
}

.hero-text-box {
    display: none;

    @media screen and (min-width: 1440px) {
            display: block;
            position: absolute;
            left: 130px;
            top: 500px;
            width: 487px;
            height: 140px;
            background-color: #FFF;
            opacity: 0.84;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            padding: 28px;
        }
}

.hero-title-text {
    display: block;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-title-text_span {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-medal {
    display: none;
    @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    width: 102px;
    height: 129px;
    top: 10px;
    right: -80px;
    }
}

.hero-photo-text {
    position: absolute;
    padding-left: 10px;
    top: 150px;

    @media screen and (min-width: 768px) {
            width: 450px;
        }
    
    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.hero-eurofast-photo-box {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
            padding-top: 40px;
        }

    @media screen and (min-width: 1440px) {
        padding-top: 80px;
    }
}

.hero-eurofast-photo {
    width: 216px;
    height: 175px;

    @media screen and (min-width: 1440px) {
            width: 400px;
            height: 334px;
        }
}

.hero-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-left: 16px;

    @media screen and (min-width: 1440px) {
            font-size: 30px;
            padding-left: 60px;
        }
}

.hero-text-index {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
}

.hero-btn-box {
    padding-left: 16px;
    padding-top: 10px;

    @media screen and (min-width: 1440px) {
            padding-left: 60px;
            padding-top: 20px;
        }
}

.manual-btn {
    width: 118px;
    height: 44px;
    background-color: #f5f5f5;
    border-radius: 14px;
    border: none;

    @media screen and (min-width: 1440px) {
            width: 176px;
            height: 58px;
        }
}

.manual-btn-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;

    @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
}

.where-btn {
    width: 118px;
    height: 44px;
    margin-left: 15px;
    background-color: #d12a2a;
    border-radius: 10px;
    border: none;

    @media screen and (min-width: 1440px) {
            width: 176px;
            height: 58px;
        }
}

.where-btn-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
}

.hero-footnote-box {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;

    @media screen and (min-width: 1440px) {
            padding-left: 60px;
            padding-top: 40px;
        }
}

.hero-footnote-first {
    font-family: Lato;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 5px;

    @media screen and (min-width: 1440px) {
            font-size: 10px;
        }
}

.hero-footnote-second {
    font-family: Lato;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1440px) {
            font-size: 10px;
        }
}

.compound-section-bg {
    z-index: -2;
    background-image: linear-gradient(
        to bottom right,
            rgba(220, 228, 255, 0.62),
            rgba(255, 248, 248, 1));
}

.compound-box{
    position: relative;
    height: 720px;
    padding-top: 70px;

    @media screen and (min-width: 768px) {
            padding-top: 100px;
        }
}

.compound-red {
    position: absolute;
    top: 0;
    right: 0;
    height: 320px;
    z-index: -1;

    @media screen and (min-width: 768px) {
            width: 450px;
        }

    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.compound-red-second {
    display: none;
    @media screen and (min-width: 1440px) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 550px;
            height: 550px;
            z-index: -1;
        }
}

.compound-blue {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 320px;
    z-index: -1;

    @media screen and (min-width: 768px) {
            width: 450px;
        }
        
    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.compound-blue-second {
    display: none;

    @media screen and (min-width: 1440px) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 750px;
            height: 750px;
            z-index: -1;
        }
}

.compound-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
    z-index: 1;
    padding-left: 25px;
    padding-bottom: 5px;


    @media screen and (min-width: 375px) {
            padding-left: 55px;
        }

    @media screen and (min-width: 425px) {
        padding-left: 85px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 220px;
        font-size: 24px;
    }
}

.compound-drugs {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    z-index: 1;
    padding-left: 12px;
    padding-bottom: 5px;

    @media screen and (min-width: 375px) {
            padding-left: 40px;
        }

    @media screen and (min-width: 425px) {
        padding-left: 70px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 200px;
        font-size: 24px;
    }
}

.compound-ibu {
    color: #ea4d33;
}

.compound-plus {
    color: #000000;
}

.compound-par {
    color: #3e67cc;
}

.compound-dose {
    width: 284px;

    @media screen and (min-width: 425px) {
            width: 300px;
        }

    @media screen and (min-width: 425px) {
        width: 500px;
    }
}

.compound-ibu-dose {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ea4d33;
    padding-left: 40px;
    z-index: 1;

    @media screen and (min-width: 375px) {
            padding-left: 70px;
        }
    
    @media screen and (min-width: 425px) {
        padding-left: 100px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 240px;
        font-size: 24px;
    }
}

.compound-par-dose {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #3e67cc;
    margin-left: 60px;
    z-index: 1;

    @media screen and (min-width: 768px) {
            font-size: 24px;
        }
}

.compound-photo-box {
    padding-top: 50px;
    padding-left: 20px;

    @media screen and (min-width: 375px) {
            padding-left: 50px;
        }

    @media screen and (min-width: 425px) {
        padding-left: 80px;
    }
    
    @media screen and (min-width: 768px) {
        padding-left: 250px;
    }

    @media screen and (min-width: 1440px) {
        padding-left: 850px;
    }
}

.compound-eurofast-photo {
    width: 240px;
    height: 223px;

    @media screen and (min-width: 768px) {
            width: 300px;
            height: 223px;
        }
}

.compound-text {
    padding-left: 10px;
    padding-top: 50px;

    @media screen and (min-width: 768px) {
            padding-left: 70px;
        }

        @media screen and (min-width: 1440px) {
        position: relative;
    } 
}

.compound-text-photo {
    width: 300px;
    height: 136px;

    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.compound-text-second-photo {
    display: none;

    @media screen and (min-width: 1440px) {
            display: block;
            position: absolute;
            top: -200px;
            width: 693px;
            height: 164px;
        }
}

.compount-footnote {
    font-family: Lato;
    font-weight: 400;
    font-size: 7px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 16px;

    @media screen and (min-width: 1440px) {
        font-size: 14px;
        padding-top: 100px;
        padding-left: 60px;
    } 
}

.effekt-box {
    width: auto;
    height: auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(to bottom,
        rgba(1, 95, 189, 1),
        rgba(1, 95, 189, 0.88),
        rgba(1, 95, 189, 0));
    
    @media screen and (min-width: 1440px) {
            display: flex;
        }
}

.effect-tumb {
    @media screen and (min-width: 768px) {
            padding-left: 80px;
        }

    @media screen and (min-width: 1440px) {
            margin-left: 80px;
            padding-top: 100px;
            padding-left: 0;
        }
}

.effect-title {
    padding-top: 60px;
    padding-left: 16px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1440px) {
            font-size: 35px;
        }
}

.effect-text {
    padding-top: 30px;
    padding-left: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1440px) {
            font-size: 20px;
        }
}

.effect-tablet-first {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.effect-tablet-photo {
    width: 50px;
    height: 37.5px;
}

.effect-tablet-text {
    width: 154px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 375px) {
        width: 180px;
        font-size: 14px;
    }

    @media screen and (min-width: 425px) {
        width: 180px;
        font-size: 16px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 20px;
        width: 300px;
    }
}

.effect-tablet-percent {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 375px) {
        font-size: 28px;
    }

    @media screen and (min-width: 425px) {
        margin-left: 35px;
        font-size: 33px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 38px;
    }
}

.effect-tablet-second {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.effect-btn {
    margin-left: 16px;
    width: 135px;
    height: 44px;
    background-color: #d12a2a;
    border-radius: 14px;
    border: none;

    @media screen and (min-width: 1440px) {
            width: 182px;
            height: 58px;
        }
}

.effect-btn-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
}

.effect-footnote {
    padding-top: 30px;
    padding-left: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-photo-box {
    @media screen and (max-width: 1439px) {
            width: auto;
            height: auto;
            padding-top: 30px;
        }
}

.effect-photo {
    @media screen and (min-width: 1440px) {
            width: 782px;
            height: 714px;
            padding-top: 0;
        }
}

.effect-second-box {
    width: 100%;
    background-image: url(../images/effect_second_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

    @media screen and (min-width: 1024px) {
            padding-bottom: 60px;
        }
}

.effect-second-title {
    padding-left: 16px;
    padding-top: 60px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
            font-size: 30px;
            text-align: center;
            padding-left: 0;
            margin-bottom: 60px;
        }
}

.effect-second-tumb {
    @media screen and (min-width: 1024px) {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
}

.effect-second-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.effect-second-first-text-box {
    display: flex;
    align-items: center;
    width: 252px;
    height: 80px;
    background-color: #1e56ac;
    opacity: 0.8;
    border-radius: 28px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 20px;

    @media screen and (min-width: 375px) {
        width: 300px;
    }
    
    @media screen and (min-width: 425px) {
        width: 360px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 50px;
    }

    @media screen and (min-width: 1440px) {
        width: 700px;
        height: 148px;
    }
}

.effect-second-first-text{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 130px;

    @media screen and (min-width: 1440px) {
            font-size: 18px;
            width: 460px;
        }
}

.effect-second-first-number {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: auto;

    @media screen and (min-width: 375px) {
            font-size: 28px;
        }
    
    @media screen and (min-width: 1440px) {
        font-size: 50px;
    }
}

.effect-second-second-text-box {
    display: flex;
    align-items: center;
    width: 252px;
    height: 80px;
    background-color: #1e56ac;
    opacity: 0.8;
    border-radius: 28px;
    padding-left: 10px;
    padding-right: 5px;

    @media screen and (min-width: 375px) {
        width: 300px;
    }
    
    @media screen and (min-width: 425px) {
        width: 360px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 50px;
    }

    @media screen and (min-width: 1440px) {
        width: 700px;
        height: 148px;
    }
}

.effect-second-second-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 100px;

    @media screen and (min-width: 1440px) {
            font-size: 18px;
            width: 300px;
        }
}

.effect-second-second-number {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: auto;

    @media screen and (min-width: 375px) {
            font-size: 28px;
        }

    @media screen and (min-width: 1440px) {
        font-size: 50px;
    }
}

.effect-second-photo-box {
    @media screen and (max-width: 1023px) {
            position: relative;
        }
}

.effect-second-photo {
    width: 280px;
    height: 232px;

    @media screen and (min-width: 1440px) {
            width: 547px;
            height: 442px;
        }
}

.effect-second-btn {
    position: absolute;
    bottom: 25px;
    right: 16px;
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 14px;
    background-color: #d12a2a;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1024px) {
            right: 58px;
            bottom: 0;
        }

    @media screen and (min-width: 1440px) {
        right: 107px;
        bottom: 0;
        width: 182px;
        height: 58px;
        font-size: 18px;
    }
}

.effect-second-footnote {
    font-family: Lato;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 16px;
}

.section-readings-box {
    padding-bottom: 60px;
}

.readings-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.readings-first-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;

    @media screen and (min-width: 768px) {
            font-size: 40px;
        }
}

.readings-second-title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;

    @media screen and (min-width: 768px) {
            font-size: 24px;
        }
}

.readings-box {
    background-image: url(../images/effect_second_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;

    @media screen and (min-width: 1440px) {
            column-count: 2;
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            margin-left: 140px;
            margin-right: 140px;
            
        }
}

.readings-tumb {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.readings-icon {
    width: 90px;
    height: 90px;
    margin-right: 14px;
}

.readings-icon-title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media screen and (min-width: 1440px) {
            font-size: 20px;
        }
}

.section-metod-box {
    background-image: url(../images/effect_second_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;

    @media screen and (min-width: 375px) {
            padding-bottom: 80px;
        }
}

.metod-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
            text-align: center;
            font-size: 32px;
        }
}

.metod-direction {
    @media screen and (min-width: 1440px) {
            display: flex;
            align-items: center;
        }
}

.metod-box {
    margin-left: 16px;
    margin-right: 16px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    margin-bottom: 30px;

    @media screen and (min-width: 1440px) {
            margin-bottom: 0px;
            padding-right: 30px;
            margin-left: 160px;
            margin-right: 60px;
        }
}

.metod-photo-tumb {
    display: flex;
    align-items: center;
}

.metod-icon {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

.metod-note {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
    z-index: 1;

    @media screen and (min-width: 1440px) {
            font-size: 20px;
        }
}

.metod-photo {
    width: 284px;
    height: 284px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 375px) {
            width: 320px;
        }

    @media screen and (min-width: 1440px) {
        width: 450px;
        height: 450px;
        margin-left: 0;
        margin-right: 0;
    }
}

.section-buy-box {
    padding-bottom: 60px;
    background-image: url(../images/buy_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.buy-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
            text-align: center;
            font-size: 38px;
            margin-bottom: 50px;
        }

    @media screen and (min-width: 1440px) {
        margin-bottom: 70px;
    }
}

.buy-photo {
    width: 196px;
    height: 193px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    @media screen and (min-width: 375px) {
            margin-bottom: 25px;
        }

    @media screen and (min-width: 1024px) {
        width: 300px;
        height: 200px;
    }

    @media screen and (min-width: 1440px) {
        width: 377px;
        height: 276px;
    }
}

.buy-thumb {
    @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
}

.buy-box {
    display: flex;
    justify-content: space-between;
}

.buy-one-twoo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;

    @media screen and (min-width: 768px) {
            margin-left: 150px;
        }

    @media screen and (min-width: 1024px) {
        margin-left: 0;
        margin-right: 15px;
    }
}

.buy-one-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-twoo-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
    @media screen and (min-width: 425px) {
        width: 155px;
    }
    
    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-three-four-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;

    @media screen and (min-width: 768px) {
            margin-right: 150px;
        }
    
    @media screen and (min-width: 1024px) {
        margin-right: 50px;
    }

    @media screen and (min-width: 1440px) {
        margin-right: 100px;
        margin-left: 100px;
    }
}

.buy-three-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-four-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;

    @media screen and (min-width: 375px) {
            width: 145px;
        }
    
    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.section-contacts {
    background-color: #005dba;
    padding-top: 60px;
    padding-left: 16px;
    padding-bottom: 60px;

    @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-right: 16px;
        }
}

.contacts-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacts-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
            font-size: 36px;
        }
}

.contacts-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 35px;
}

.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
            margin-bottom: 0;
        }
}

.contacts-phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-phone-number {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;

    @media screen and (min-width: 375px) {
            font-size: 20px;
        }
}

.contacts-mail-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
            margin-left: 50px;
        }
}

.contacts-mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-mail {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 375px) {
            font-size: 20px;
        }
}

.section-warning {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.warning-logo-box {
    @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
}

.warning-lifecare-logo {
    width: 189px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
            width: 125px;
            height: 50px;
        }
}

.warning-note {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
            margin-left: 10px;
        }
}

.warning-text {
    font-family: Inter;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    text-align: center;

    @media screen and (min-width: 375px) {
            font-size: 38px;
        }
    
    @media screen and (min-width: 1024px) {
        font-size: 90px;
    }
        
    @media screen and (min-width: 1440px) {
            font-size: 108px;
        }
}

.footer-box {
    background-color: #005dba;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
}