html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 425px) {
    .container {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.page-header-box {
    height: 52px;
    display: flex;
    align-items: center;
}

.page-header-logo {
    width: auto;
    height: auto;
}

.page-header-left {
    width: 100px;
    height: 52px;
    background-image: url(../images/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.page-header-bg {
    height: 52px;
    width: 100%;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.page-header {
        width: 100%;
        height: 52px;
}

.header-svg {
    position: absolute;
    fill: #0B5FC0; 
    width: auto;
    height: 52px;
    left: 5px;
}

.header-menu {
    position: absolute;
    width: 23px;
    height: 18px;
    right: 15px;
}

.header-close-menu {
    position: absolute;
    fill: black;
    width: 18px;
    height: 19px;
    right: 15px;
}

.hero-box {
    width: auto;
    height: 600px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to top right,
            rgba(255, 91, 62, 1),
            rgba(13, 122, 248, 1));
}

.hero-photo-box {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero-photo {
    width: 312px;
    height: 224px;
}

.hero-text-box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero-text {
    max-width: 250px;
    min-height: 87px;
    background-color: #fff;
    opacity: 0.84;
    border-radius: 22px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.hero-title-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-title-text_span {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-medal {
    position: absolute;
    width: 69px;
    height: 82px;
    top: 267px;
    right: 15px;
}

.hero-photo-text {
    position: absolute;
    padding-left: 10px;
    top: 150px;
}

